BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
  BeforeWhile: true
  AfterEnum: false
  AfterStruct: false
  SplitEmptyFunction: false
  AfterFunction: false
  AfterUnion: false
  AfterExternBlock: false

IndentCaseLabels: true
IndentWidth: 4
ColumnLimit: 100
# AllowShortBlocksOnASingleLine: Always
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

AlignAfterOpenBracket: Align
BracedInitializerIndentWidth: 4

AlignArrayOfStructures: Left
AlignOperands: Align

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2

AllowShortBlocksOnASingleLine: Empty

AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: true
BinPackParameters: BinPack
# IncludeBlocks: Regroup
SortIncludes: Never
IndentExternBlock: Indent
IndentGotoLabels: true
IndentPPDirectives: BeforeHash

KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false

MacroBlockBegin: "^NS_MAP_BEGIN|\
  NS_TABLE_HEAD$"
MacroBlockEnd: "^\
  NS_MAP_END|\
  NS_TABLE_.*_END$"

PointerAlignment: Right
QualifierAlignment: Custom
QualifierOrder: [inline, static, const, type]

ReferenceAlignment: Right
ReflowComments: IndentOnly
RemoveBracesLLVM: false
RemoveEmptyLinesInUnwrappedLines: true
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: true
SpaceAroundPointerQualifiers: After
# BreakArrays: true
